* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
html {
    font-size: 16px; 
}
  
body {
    text-rendering: optimizeLegibility;
    overflow-y: scroll; 
}
  
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0; 
} 
  
a:hover, a:focus {
    text-decoration: none; 
}
  
ul {
    list-style-type: none; 
}

.container-width {
    width: 85%;
    margin: 0 auto;
}



/* ---------------------------------------------
    Home page
---------------------------------------------- */


@media only screen and (max-width:576px) {

    .container-width {
        width: 95%;
        margin: 0 auto;
    }
    
}



/* Banner section css
---------------------------------------------- */

.body-banner {
    position: relative; 
}

.carousel {
    height: 90vh; 
}

.carousel-indicators {
    bottom:20px;
}

.carousel-indicators > li {
    width: 25px;
    height: 5px;
    border-radius: 12px; 
    background: #fff;
}

.carousel-indicators > li.active { 
    background: #E61632;
    border-radius: 12px;
}

.carousel-inner {
    height: 100%; 
}
  
.banner-content {
    position: absolute;
    top: 21%;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    align-items: center;
    color: #fff;
    left: 0;
}

.wrap-bannerContent {
    height: 268px;
    width: 520px;
    /* background-color: rgba(54, 54, 54, 0.9); */
    margin-left: 7.5%;
}

.bannerContent-heading {
    font-size: 3.2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 18px;
}

.bannerContent-highlight {
    font-weight: 700;
    color: #E61632;
}

.bannerContent-para {
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-bottom: 50px;
}

.banner-button {
    font-weight: 5  00;
}




/* Featues section css
---------------------------------------------- */

.wallet-features {
    background-image: linear-gradient(#FFF, #FEE2E7);
    padding: 90px 0 50px 0;
}

.features-heading {
    width:60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.heading-top {
    color: #E61632;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 54px;
    text-transform: capitalize;
}

.heading-subcontent {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #0D0D0D;
    padding: 0 22%;
}

.feature-card {
    background: transparent;
    border-radius: 10px;
    padding: 35px 50px;
}

.feature-card:hover {
    background: #fff;
    transition: all 1s ease-in-out;
    box-shadow: 0px 4px 28px #fcacb541;
    cursor: pointer;
}

.feature-icon {
    margin-bottom: 30px;
    max-height: 80px;
}

.feature-name {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.feature-para {
    margin: 0;
    color: #000;
    font-size: 1.1rem;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;

}







/* FAQ section css
---------------------------------------------- */

.faqListing-width {
    width: 60%;
    margin: 0 auto;
}

.faq-icon {
    max-height: 28px;
    margin-right: 16px;
}

#faq-list .card {
    margin-bottom: 20px;
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
}
  
#faq-list .card-header {
    border: 0;
    border-radius: 2px 2px 0 0;
    padding: 0;
}
  
#faq-list .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background: #fff;
    color: #000;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}
  
#faq-list .btn-header-link:after {
    content: "\f107";
    font-family: 'FontAwesome';
    font-weight: 900;
    float: right;
    font-size: 26px;
}
  
#faq-list .card .card-header .btn-header-link.collapsed {
    background: #fff;
    color: #000;
}
  
#faq-list .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
    font-family: 'FontAwesome';
}
  
#faq-list .card .collapsing {
    background: #fff;
    line-height: 30px;
}
  
#faq-list .card .collapse {
    border: 0;
}
  
#faq-list .card .collapse.show {
    background: #fff;
    line-height: 30px;
    color: #222;
}

#faq-list .card-body {
    width: 88%;
    margin: 0 auto;
}





@media only screen and (max-width: 576px) {

    .carousel {
      height: auto; 
    } 

    .carousel-indicators > li {
        width: 6px;
        height: 6px; 
    }
    
    .carousel-indicators > li.active {
        width: 18px; 
    }

    .wrap-bannerContent {
        width: 88%;
        height: auto;
        margin: 0 auto;
        padding: 20px; 
    }

    .banner-content {
        height: 297px; 
    }



}
























/* about us page */

/* body banner css */

.body-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/about\ us\ banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
    position: relative;
}

.body-banner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.heading-top.about {
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    position: relative;
    z-index: 9;
}



/* css for breadcrumbs section */

.breadcrumbs-list {
    background: #f0f0f0;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #f0f0f0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 1.1rem;
}

ul.breadcrumb li+li:before {
    padding: 12px 15px;
    color: black;
    content: "\f105";
    font-family: 'FontAwesome';
}

ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

ul.breadcrumb li a.active {
    color: #E61632;
}



/* css for expert team section */

.heading-subcontent.team {
    padding: 0 18%;
}

.card-body {
    text-align: center;
    background: #fff;
}

.card-body:hover {
    background: #E61632;
    color: #fff;
}